<div class="why">
<h3>
Learning to write programs stretches your mind, and helps you think better, creates a way of thinking about things that I think is helpful in all domains. 
    <br>
                          <p align="right">- Bill Gates</p>
</h3>
</div>
<div class="row" style="margin-top: 200px">
<div class="content1 col-sm-5">
<h2><strong>About Us</strong></h2>
<ol >
<p class="rectangle-list">

We are Computer Science majors who are passionate about helping others learn about programming. We know how hard it is starting off from scratch and we can guide you step by step to get you set to learn on your own. Many of our instructors have interned at major corporations and Fortune 500 companies.

</p class="rectangle-list">



</ol>
</div>
<div class="content2 col-sm-5">
    <iframe width="375" height="240" src="https://www.youtube.com/embed/nKIu9yen5nc" frameborder="0" allowfullscreen></iframe>

</div>
