<div class="why">
<h3>
"Everybody in this country should learn to program a computer... because it teaches you how to think."
    <br>
    <p align = "right">- Steve Jobs</p>
</h3>
</div>
<div class="row" style="margin-top: 200px">
<div class = "col-sm-5">
    <div class="content1">
<h2><strong>Why Us?</strong></h2>
<ol >
<li class="rectangle-list" >
<a>
We offer 1-to-1 and personalized attention so that we can help you with any problems.
</a>
</li class="rectangle-list">


<li><a>We've designed a structured course that will teach you from the basics and up. You will never be lost.</a></li>

<li><a>Our tutors have takens many CS courses already and you can get a head start learning about them here.</a></li>
</ol>
    
   
    
</div>
    <br>
    <div class= "col-sm-5">
    <iframe width="395" height="245" src="https://www.youtube.com/embed/pvAsqPbz9Ro" frameborder="0" allowfullscreen></iframe>
    </div>
    
    </div>
    
    
<div class="content2 col-sm-5">
<h2><strong>Why Learn To Code?</strong></h2>
Coding will become the new required course in the future. It is universally applicable, just like math or science or english. Technology is revolutionizing the world and knowing how to work with it will give you a major advantage. 
    <br>

    After starting college, we saw that coding is everywhere. We've met many different people who have landed high-paying internships at Google, Facebook, etc. These are people who have started early and were very interested in learning new stuff. Thus, we decided to start CodeHacker to give local students a head start. In addition, programming is one of the most in-demand skills that is absolutely fun to do! 
    
    <br><br>
    You can:
    <li>Build cool apps that will be submitted into the app store and impress college</li>
    <li>Land Internships and work with people in the industry</li>
    <li>Create Something Out of Nothing!</li>
    
    
</div>
